.app_header{
    text-align: center;
}

.title_header{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    margin: 0;
}

p{
    text-align: center;
    font-size: large;
    margin: 0;
}